<mat-sidenav [mode]="side" [opened]="opened" class='mat_sidenav' #sidenav [fixedBottomGap]=0 [fixedInViewport]='true' [fixedTopGap]='64'>
  <mat-sidenav-content class='sideBarNav'>
      <ul class="side-menu">
          <li *ngFor="let section of sections; let i = index;" class="parent-list-item">
              <app-menu-link [sections]="section" *ngIf="section.type === 'link'"></app-menu-link>
              <app-menu-toggle [sections]="section" [index]='i' *ngIf="section.type === 'toggle'"></app-menu-toggle>
          </li>
      </ul>
      <div class='menu_toggle_btn' (click)="toggled()" style='cursor: pointer;'>
          <button mat-icon-button style='justify-content:flex-end;'><mat-icon>keyboard_arrow_left</mat-icon></button>
      </div>
  </mat-sidenav-content>
</mat-sidenav>
<div [ngClass]='container_wrapper' fullscreen>
  <div fxLayout='column' class='component_layout'>
      <router-outlet></router-outlet>
  </div>
</div>